/****************** reset *************/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
/****************** /reset *************/



header{
  color: white;
  background-color: #3160E0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.row{
  min-width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.box{
  width: 80%;
  padding-top: 120px;
  text-align: center;
}

.container{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  font-size: 0.8rem;
}

h1{
  font-size: 3rem;
}

a{
  color: white;
  text-decoration: none;
}

/********** HEADER ***********/
 
header ul{
  list-style: none;
  display: flex;
}
header ul li{
  padding: 15px;
}

.logo img{
  width: 130px;
  padding: 15px;
}

header .container{
  width: 100%;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  padding-bottom: 160px;
}  

.slogan{
  margin: 30px 250px;
  line-height: 1.5rem;
  
}
.box .button{
  padding: 15px 20px;
  font-size: 1rem;
  margin: 10px;
}
.black{
  color: white;
  background-color: black;
}

ul li a:hover{
  text-decoration: underline;
}

 /********* /HEADER *******/

 /******* MAIN ********/

.grigio{
  background-color: #F6F6F6;
}

.blocco{
  width: 80%;
  margin: 30px;
  display: flex;
  justify-content: center;
}

.img{
  max-width: 750px;
  ;
}

.txt{
  width: 40%;
  padding: 40px 20px 0 140px;
}

h2{
  font-size: 2.5rem;
}

.txt p{
  margin-top: 35px;
  line-height: 1.5rem;
}

.tecnologia{
  text-align: center;
  padding: 30px 250px;
  padding-bottom: 100px;
}

.tecnologia p{
  margin: 20px 30px;
  line-height: 1.5rem;
  }

.tecnologia h3{
 font-size: 1.5rem;
 background-image: url(../img/stars.svg);
 background-size: contain;
 margin: 45px;

}

.tecnologia .button{
  color: white;
  background-color: #90A1E2;
  font-size: 1rem;
}


/****** FOOTER *************/
.info{
  border-bottom: 1px solid #4F515A;
}
.info{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.info h3{
  font-size: 1.5rem;
  color: #778FD6;
  padding-bottom: 15px;
}
.grande{
  width: 250px;
}

p.lingua{
  display: inline-block;
  line-height: 18px;
}

.grande img{
  height: 18px;
  width: 28px;
}

.grande p{
  margin-top: 20px;
}

footer ul{
  list-style: none
}

.info li{
  padding-bottom: 15px;
  font-size: 0.8rem;
}

footer li:first-child{
  color: #778FD6;
}

footer .button{
  color: white;
  background-color: #90A1E2;
}

footer .row{
  margin-top: -80px;
}