/****************** reset *************/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
/****************** /reset *************/

.debug{
  background-color: rgba(41, 41, 229, 0.2);
  border: 1px solid black;
}

header{
  color: white;
  background-color: #3160E0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.row{
  min-width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.box{
  width: 80%;
  padding-top: 120px;
  text-align: center;
}

.container{
  display: flex;
  min-height: 200px; /************debug************/
  justify-content: center;
  align-items: center;
}

.button{
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

h1{
  font-size: 3rem;
}

a{
  color: white;
  text-decoration: none;
}

/********** HEADER ***********/
 
header ul{
  list-style: none;
  display: flex;
}
header ul li{
  padding: 15px;
}

.logo img{
  width: 130px;
  padding: 15px;
}

header .container{
  width: 100%;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}  

.slogan{
  margin: 30px 250px;
  line-height: 1.5rem;
  
}

header ul li a:hover{
  text-decoration: underline;
}

 /********* /HEADER *******/

 /******* MAIN ********/

.grigio{
  background-color: rgb(255, 0, 0, 0.2);
}

.blocco{
  width: 80%;
  ight: 300px; /***************debug**************/
  margin: 30px;
  display: flex;
  justify-content: center;
}

.img{
  width: 60%;
}

.txt{
  width: 40%;
}

.info{
  width: 80%;
  height: 600px; /****************debug************/
  display: flex;
  justify-content: space-between;
}

.grande{
  width: 250px;
}
